body {
    display: block;
    /* margin: 8px; */
    font-family: "Georgia";
    background-color: whitesmoke;
}

/* main {
    margin: 10% 8px;
} */

nav {
    background-color: mediumseagreen;
}

.navbar-brand {
    margin-left: 8px;
}

nav div span {
    margin: 0 43%;
}

nav div span a {
    text-decoration: none;
    color: mintcream;
    font-weight: 500;
}

nav div span a:hover{
    color: white;
}

form {
    margin: 0 auto;
    width: fit-content;
}

img {
    max-width: 100%;
}

.row {
    margin: 0 auto;
}

.home {
    margin: 5% auto;
    width: fit-content;
    text-align: center;
}

.home .btn {
    margin: 0 0.5em;
}

.d-flex {
    margin-right: 0;
}

nav div div ul {
    margin: 0 auto;
}

#navbarNav {
    width: fit-content;
}

.navbar-collapse {
    flex-grow: 0;
}

.navbar-brand {
    font-size: 1.5em;
}

.card-body {
    text-align: left;
}

.card-body h5 a {
    text-decoration: none;
    color: #198754;
}

.container-fluid {
    background-color: mediumseagreen;
}

.nav-link {
    color: rgba(240, 255, 255, 0.856) !important;
}

.post-button {
    margin: 16px 16px 0 16px;
}

.profile-form {
    margin: 8px auto;
    width: fit-content;
}

.friend-list h2 {
    margin: 12px;
    width: fit-content;
}

.friend-list p {
    margin: 12px;
    width: fit-content;
}

.request {
    margin: 0 10px;
}

.return {
    margin: 11px;
}

.login {
    margin-top: 20px;
}

.no-post {
    margin: 16px;
}

.material-icons a {
    text-decoration: none;
    color: black;
    margin-left: 3px;
}

/* http://google.github.io/material-design-icons/#icon-images-for-the-web */
/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }