{% extends 'base.html' %}

{% block content %}

  <div class="home">
    <h2 class="fst-italic">Welcome, {{ user.get_full_name }} <small>@{{ user.username }}</small>!</h2>
    <p>Your birth date: {{ user.author.birth_date }}</p>
    <!-- <a href="/friends">View Friends List</a></br>
    <a href="/author/{{ user.profile.id }}/posts">View My Posts</a> -->
    <a class="btn btn-outline-primary" href="/friends" role="button">Friends List</a>
    <a class="btn btn-outline-primary" href="/author/{{ user.author.id }}/view_posts" role="button">My Posts</a>
  </div>

   <h3> Activity Stream </h3>
  <ul>
  {% for post in posts %}
  	<li>
        <h4><a href="/author/{{post.author.id}}/view_post/{{post.id}}">{{ post.title }}</a></h4>
        <p><i>{{post.timestamp}}</i></p>
  	</li>
  {% endfor %}
  </ul>

{% endblock %}
