<h2>{{user.username }} Friends</h2>
<!-- List friends -->
{% for f in friends %}
  <li>{{ f.user }} </li><a href="{% url 'Profile:view_profile' author_id=f.user.id %}">View Profile</a>
{% endfor %}

<h2>{{user.username }} Following</h2>

{% for f in following %}
  <li>{{ f.user }} </li><a href="{% url 'Profile:view_profile' author_id=f.user.id %}">View Profile</a>
{% endfor %}

<h2>Pending Requests</h2>
<!-- List pending friend requests -->
{% for r in friend_requests %}
  <li>Request from {{ r.sender }}</li>
  <form action="/accept" method="POST">
    {% csrf_token %}
    <input type="hidden" name="sender" id="sender" value="{{ r.sender }}" />
    <button type="submit">Accept</button>
  </form>
  <form action="/decline" method="POST">
    {% csrf_token %}
    <input type="hidden" name="sender" id="sender" value="{{ r.sender }}" />
    <button type="submit">Decline</button>
  </form>
{% endfor %}
<a href="/">Home</a>
