{% extends 'base.html' %}

{% block content %}
<div class="friend-list">
  <h2 class="fst-italic">@{{user.username }} Friends</h2>
  <!-- List friends -->
  <!-- {% for f in friends %}
    <li>{{ f.user }} </li><a href="{% url 'Profile:view_profile' author_id=f.user.id %}">View Profile</a>
  {% endfor %} -->

  <div class="row row-cols-auto">
    {% if friends %}
      {% for friend in friends %}
        <div class="col">
            <div class="card h-100" style="width: fit-content;">
              <div class="card-body" style="padding: 6px 8px 0 8px;">
                <h4 class="card-title"><a href="{% url 'Profile:view_profile' author_id=friend.id %}" style="text-decoration: none; color: #198754;">{{friend.displayName}}</a></h4>
              </div>
            </div>
        </div>
      {% endfor %}
    {% endif %}

  {% if not friends %}
    <p>No friends</p>
  {% endif %}

  <h2>@{{user.username }} Following</h2>


  <div class="row row-cols-auto">
    {% for f in following %}
      <div class="col">
          <div class="card h-100" style="width: fit-content;">
            <div class="card-body" style="padding: 6px 8px 0 8px;">
              <h4 class="card-title"><a href="{% url 'Profile:view_profile' author_id=f.id %}" style="text-decoration: none; color: #198754;">{{ f.displayName }}</a></h4>
            </div>
          </div>
      </div>
    {% endfor %}

  <h2>@{{user.username }} Followers</h2>

  <div class="row row-cols-auto">
    {% if followers %}
      {% for f in followers %}
        <div class="col">
            <div class="card h-100" style="width: fit-content;">
              <div class="card-body" style="padding: 6px 8px 0 8px;">
                <h4 class="card-title"><a href="{% url 'Profile:view_profile' author_id=f.id %}" style="text-decoration: none; color: #198754;">{{ f.displayName }}</a></h4>
              </div>
            </div>
        </div>
      {% endfor %}
    {%  endif %}

  <div>
    <a href="/" class="btn btn-outline-success return">Return</a>
  </div>

</div>
{% endblock %}
