<h1>{{post.title}}</h1>
<p>{{ post.author.user_name }}</p>
<p>{{ post.origin }}</p>
{% if post.content_type == 'text/markdown' %}
    <p>{{content | safe}}</p>
{% else %}
    <p>{{post.content | linebreaks}}</p>
{% endif %}

<p>Likes:{{post.likes_count}}</p>
{% if post.author.id != current_user.profile.id %}
    <form action="{% url 'Profile:like' author_id=post.author.id post_id=post.id %}" method = "POST">
        {% csrf_token %}
        <input type="hidden" name="user" value="{{current_user.profile}}" />
        <input type="hidden" name="post" value="{{post.id}}">
        <button type="submit">Like</button>
    </form>
{% endif %}




{% if post.visibility == 'PUBLIC' %}
  <div>
      <a href="{% url 'Profile:share_post' post_id=post.id %}">Share this post!</a>
  </div>
{% endif %}

{% if post.author.id == current_user.author.id %}
    <div>
        <a href="{% url 'Profile:edit_post' post_id=post.id %}">Edit this post</a><br>
        <a href="{% url 'Profile:delete_post' post_id=post.id %}">Delete this post</a>
    <div>
{% endif %}
<a href="/">Return</a>
