{% extends 'base.html' %}

{% block content %}

<!-- {% if post.content_type == 'text/markdown' %}
    <p>{{content | safe}}</p>
{% else %}
    <p>{{post.content | linebreaks}}</p>
{% endif %} -->

<!-- <div>
    <a href="{% url 'Profile:share_post' post_id=post.id %}">Share this post!</a>
</div> -->

{% if post.content_type == 'text/markdown' %}
    <p>{{content | safe}}</p>
{% else %}
    <div class="container" style="margin-top: 10px;">
        <div class="row">
            <div class="col-sm-auto">
                <span class="material-icons"><a href="/">arrow_back_ios</a></span>
            </div>
            <div class="col">
                <div class="card">
                    <h3 class="card-header">{{post.title}}<span class="material-icons">
                    <a href="{% url 'Profile:share_post' post_id=post.id %}">share</a></span></h3>
                    <div class="card-body">
                    <p class="card-text" style="margin: 0;"><small class="text-muted">@{{post.author}} {{post.origin}}</small></p>
                    <h5 class="card-title">{{post.description}}</h5>
                    <p class="card-text">{{post.content}}</p>
                    {% if post.author.id == current_user.profile.id %}
                    <div class="row">
                        <div class="col-sm">
                            <span class="material-icons md-24"><a href="{% url 'Profile:edit_post' post_id=post.id %}">create</a></span>
                        </div>
                        <div class="col-10">
                        </div>
                        <div class="col-sm">
                            <a class="btn btn-danger btn-sm" href="{% url 'Profile:delete_post' post_id=post.id %}">Delete</a>
                        </div>
                    </div>
            <!-- </div> -->
                    {% endif %}
                </div>
                <div class="card-footer text-muted">
                    Last updated {{post.timestamp}}
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% endblock %}