{% extends 'base.html' %}

{% block content %}

	<h2>{{ author.user.get_full_name }} <small>@{{ author.displayName }}</small>!</h2>
		<!-- You can only send an inbox if exists following/follower status or friends -->
		{% if follow_status %}
		<form action="{{ author.id }}/private_post" method="GET">
			<input type="hidden" name="author" id="author" value="{{ author.id }}" />
			<button type="submit">Send Inbox Post</button>
		</form>
		{% endif %}
		<!-- Check if author and current user are friends -->
		{% if following_status  %}
			<!-- Remove friend option -->
			<form action="{{ author.id }}/unfollow" method="POST">
				{% csrf_token %}
				<input type="hidden" name="author" id="author" value="{{ author.id }}" />
				<button type="submit">Unfollow</button>
			</form>
		{% else %}
			<form action="{{ author.id }}/follow" method="POST">
				{% csrf_token %}
				<input type="hidden" name="receiver" id="author" value="{{ author.id }}" />
				<button type="submit">Follow</button>
			</form>
		{% endif %}
		<p>Birth date: {{ author.birth_date }}</p>
		<h3>Public Posts:</h3>
		{% if posts %}
			{% for post in posts %}
				{% if post.visibility == 'PUBLIC' and post.unlisted == 'false' %}
					<li><a href="/author/{{author.id}}/view_post/{{post.id}}">{{ post.title }}</a>: </li>
				{% elif post.visibility == 'PUBLIC' and post.unlisted == False %}
					<li><a href="/author/{{author.id}}/view_post/{{post.id}}">{{ post.title }}</a>: </li>
				{% endif %}
			{% endfor %}
		{% else %}
			<p>{{author.user.get_full_name}} has no posts<p>
		{% endif %}
{% endblock %}
