{% extends 'base.html' %}

{% block content %}
	<form action="{% url 'Search:results' %}" method="POST">
		{% csrf_token %}
		<input type="text" name="query" id="query" required>
		<input type="submit" value="Search">
	</form>
	<h2>{{ author.user.get_full_name }} <small>@{{ author.user.username }}</small>!</h2>
		<!-- Check if author and current user are friends -->
		{% if friend_status  %}
			<!-- Remove friend option -->
			<form action="{{ author.user.id }}/remove_friend" method="POST">
				{% csrf_token %}
				<input type="hidden" name="author" id="author" value="{{ author.user.id }}" />
				<button type="submit">Remove Friend</button>
			</form>
		{% else %}
			<form action="{{ author.user.id }}/send_request" method="POST">
				{% csrf_token %}
				<input type="hidden" name="receiver" id="author" value="{{ author.user.id }}" />
				<button type="submit">Send Friend Request</button>
			</form>
		{% endif %}
		<p>Birth date: {{ author.birth_date }}</p>
		<h3>Public Posts:</h3>
		{% if posts %}
			{% for post in posts %}
				{% if post.visibility == 'PUBLIC' and post.unlisted == False %}
					<li><a href="/author/{{author.id}}/view_post/{{post.id}}">{{post.title}}</a>: </li>
				{% endif %}
			{% endfor %}
		{% else %}
			<p>{{author.user.get_full_name}} has no posts<p>
		{% endif %}
{% endblock %}
